<div class="container mt-3 px-5 px-sm-0">
  <div class="row">
    <div class="col-3">
      <%= render "layouts/info", user: @book.user %>
      <%= render "layouts/new", book: @booknew %>
    </div>
    <div class="col-8 md-8 offset-md-1">
     <h2>Dog detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td><%= link_to user_path(@book.user) do %><%= image_tag @book.user.get_profile_image(100,100) %><% end %><br>
                <%= link_to @book.user.name, user_path(@book.user) %>
            </td>
            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
            <% if @book.user_id == current_user.id %>
            <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success btn-sm" %></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger btn-sm" , "data-confirm" => "本当に削除しますか？" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
